* {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #1b2b3f;
  font-size: 1em;
  color: #fff;
  font-family: "Segoe UI";
}
.container {
  width: 100%;
  max-width: 56rem;
  /* padding: 0 1rem; */
  margin: 0 auto;
}

section {
  padding: 0 15px;
  margin: 2rem 0;
}
#nav {
  background: #2b4565;
  /* background: #2b4565; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  margin: 0;
}
nav.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0.7rem 0.4rem;
}
.navBrand {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}
.navLink {
  display: flex;
  gap: 1rem;
}
.linkNav {
  color: #fff;
  text-decoration: none;
  transition: all 0.1s;
  outline: none;
}
.linkNav:hover {
  color: #48cae4;
}
.hero {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  justify-content: space-between;
  margin-top: 5rem;
}
.hero .title {
  font-size: 2em;
  font-weight: 700;
}
.hero .profil {
  background: url("./bgprtAnm.jpg") center no-repeat;
  background-size: cover;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: auto;
}
.vaf {
  color: #fff;
}
.contact .title,
.gal.title,
.vaf .title {
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
}
.vaf .svg {
  font-size: 2em;
  margin: 0.3rem 0;
}
.galery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 260px;
  gap: 2px;
  margin: 2rem 0.2rem;
  /* overflow: hidden;
    max-height: 500px; */
  opacity: 70%;
}
.card {
  background: #eee center no-repeat;
  background-size: cover;
  /* height: 10rem; */
  transition: all 300ms;
  border-radius: 5px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.card > a {
  color: #fff;
  position: absolute;
  bottom: -100%;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  transition: all 300ms;
  text-decoration: none;
}
.card:hover > a {
  /* opacity: 1; */
  bottom: 0;
}
.contact {
  padding: 10px;
}
form {
  display: grid;
  gap: 0.4em;
}

.sub-nav {
  color: #fff;
  display: flex;
  font-size: 1.4em;
  background-color: #2b456540;
  width: fit-content;
  border-radius: 12px;
  padding: 5px 7px;
  position: fixed;
  bottom: 5%;
  right: 2%;
  transition: all 200ms;
}
.sub-nav .option {
  width: 0;
  height: 0;
  overflow: hidden;
  margin-right: 5px;
  display: flex;
  gap: 0.5em;
}
.sub-nav:hover .option {
  width: fit-content;
  height: fit-content;
}
.sub-nav > i {
  transition: all 500ms;
}
.sub-nav:hover > i {
  transform: rotate(180deg);
}
.option a {
  color: #fff;
  text-decoration: none;
  transition: all 300ms;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
.option a:hover {
  color: #48cae4;
}
@media only screen and (max-width: 540px) {
  .profil {
    display: none;
  }
  .hero {
    grid-template-columns: none;
  }
}
.groub {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  flex-direction: row-reverse;
}
.groub textarea,
.groub input {
  outline: none;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  padding: 2px 5px;
  color: #fff;
  width: 100%;
  resize: none;
}
.groub textarea {
  /* border-left: 2px solid #fff; */
  font-family: "Segoe UI";
}
form button {
  width: fit-content;
  margin: 0 0 0 auto;
  padding: 2px 5px;
  color: #fff;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #35567d;
  transition: all 200ms;
  margin-top: 1rem;
}
form button:hover,
.groub textarea:focus,
.groub input:focus {
  border-bottom-color: #6bafff;
}
.groub textarea:valid,
.groub input:valid {
  border-bottom-color: #2b4565;
  color: #48cae4;
}
.groub textarea:valid ~ i,
.groub input:valid ~ i {
  color: #48cae4;
}
.option a:hover,
form button:hover {
  /* background-color: #35567d; */
  /* border-radius: 5px; */
  color: currentColor;
}
.space {
  height: 5rem;
}
#footer {
  background-color: #2b4565;
  /* padding: 5px 3px; */
  font-size: 0.7em;
  height: 100%;
  margin: 0;
}
footer i {
  font-size: 1em;
}

span.info {
  margin: 0 1rem;
  font-size: 0.8em;
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px 7px;
  text-align: center;
  /* width: 100%; */
  /* opacity: 0; */
}
.info.obtain {
  display: grid;
  width: fit-content;
  justify-items: start;
}

.little-spaces {
  height: 0.5rem;
  width: auto;
}

.modal-box {
  display: grid;
  text-align: center;
}
.modal-box .title {
  font-size: 2em;
  font-weight: 700;
}
.modal-box a {
  color: #02e78f;
  text-decoration: underline;
}
.modal-box a:hover {
  color: #018854 !important;
}
